.listItemss {
    padding-block: 0;
    cursor: pointer;
    margin: 0;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
  
  .listItemss:focus {
    outline: none;
  }
  
  li.listItemss:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .lopas{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  