.listItems {
    display: flex;
    list-style: none;
    height:auto;
    padding-top: 0.75rem;
    padding-left: 0;
    padding-bottom: 0.5rem;
    margin: 0;
    text-align: center;

  }
  
  .listItem1 {
    justify-content: center;
    margin-right: 0.5rem; 
  }
  
  .listItem1:last-child {
    margin-right: 0.5rem; 
  }