.sub-list-item {

    transition: all 0.3s;
  }
  
  .sub-list-item:hover {
    background: transparent;
  }
  
  .sub-list-item.rounded-t {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
  
  .sub-list-item.rounded-b {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  
  .sub-list-item.opacity-100 {
    opacity: 1;
    cursor: pointer;
  }
  
  .sub-list-item.opacity-0 {
    opacity: 0; 
    cursor: default;
  }