.subListContainer {
    position: relative;
    top:0;
    right: 0;
    visibility: hidden;
  }
  
  .subListContainer.visible {
    visibility: visible;
  }
  
  .subList {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 0.8rem; 
    opacity: 0.90;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    background: rgb(120,19,65);
    background: radial-gradient(circle, rgba(120,19,65,1) 0%, rgba(24,15,46,1) 100%);
    justify-content: center;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transform: translateX(-50%);
    top: 1rem;
  }
