.button {
  appearance: none;
  background-color:inherit;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: League Spartan;
  font-size: 16px;
  text-size-adjust: 100%;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: auto;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: 100%;
  height: 100%;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 8px 15px;
  transform: translateY(-2px);
  text-shadow:0 0 15px rgba(255, 255, 255, 0.7);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}