/*.article-container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 28rem; 
  }*/
 /* @media (min-width: 1920px) {*/
.article-container {
    margin: 5rem 4rem;
    max-width: 80rem;
    background: #E0E0E0;
    box-shadow: 0px 0px 7px 8px rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;
    width: 69vw;
    }
  .article-content {
    padding-left: 2rem; 
    padding-right: 2rem;
    padding-top: 3rem;
  }