.desktopNavCointainer{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    background-color:  #180F2E;
    box-shadow:  0px 5px 20px 0px #0b0b0bc9,
    0px 3px 20px #080808b0;
}
.logoSmallContainer{
    display: flex;
    justify-content: left;
    padding-left: 6rem;
}
.logoSmall{
    width: 35%;
    height: auto;
}
.listContainer{
    display:flex;
    justify-content: center;
}
