.mainContainer {
    display: flex;
    justify-content: start;
    position: relative;
    height: 3rem; /* You can adjust the height as needed */
    background-color:  #180F2E;
    box-shadow:  0px 5px 20px 0px #0b0b0bc9,
    0px 3px 20px #080808b0;
  }

  .burgerListContainer {
    background-color:  #180F2E;
    padding-bottom: 3rem; /* Adjust the padding to match the top container's height */
    overflow-y: scroll;
    position: fixed;
    z-index: 20;
    top: 3rem; /* Match the top container's height */
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
  .burgerListContainer::-webkit-scrollbar{
    display: none;
  }
  .burgerListContainer.active{
    transform: translateX(-100%);
  }

  .burgerList {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding-top: 3.5rem;
    margin-bottom: 4rem;
  }
