.ListTheList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem; 
  }

  .ListSpan {
    color: #fff;
    font-family: League spartan;
    font-weight: 600; /* You can adjust the font-weight as needed */
    font-size: 3rem; /* Adjust the font size as needed */
  }

  .wheel{
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    width: auto; 
  }
  .spin{
   --transform-rotate: 180deg; 
  }