 
  .subListList {
    list-style: none;
    padding-top: 0.75rem; /* Adjust the padding-top as needed */
    cursor: pointer;
    font-family: League spartan;
    font-weight: 400; /* Adjust the font-weight as needed */
    font-size: 2rem; /* Adjust the font size as needed */
    text-align: center;
    color: #ffffff; /* Adjust the text color as needed */
  }

  .subListM{
    overflow: hidden; 
    width: 100%; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 300ms; 
    transition-delay: 150ms; 
    padding-left: 0;
    margin: 1rem;
  }
  .openL{
    height: auto;
  }
  .closedL{
    height:  0;
  }