/* Small screens (up to 640px) */
@media screen and (max-width: 640px) {
  /* Your CSS styles for small screens go here */
}

/* Medium screens (between 641px and 885px) */
@media screen and (min-width: 641px) and (max-width: 885px) {
  /* Your CSS styles for medium screens go here */
}

/* Medium screens (between 768px and 885px) */
@media screen and (min-width: 768px) and (max-width: 885px) {
  /* Your CSS styles for actual medium screens go here */
}

/* Large screens (between 886px and 1024px) */
@media screen and (min-width: 886px) and (max-width: 1024px) {
  /* Your CSS styles for large screens go here */
}

/* Extra-large screens (between 1025px and 1280px) */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Your CSS styles for extra-large screens go here */
}

/* Two extra-large screens (between 1281px and 1536px) */
@media screen and (min-width: 1281px) and (max-width: 1536px) {
  /* Your CSS styles for two extra-large screens go here */
}
