.w-full {
    width: 100%;
  }
  
  .t-center {
    text-align: center;
    color: white;
  }
  
  .bg-igem-footer {
    background-color: #180f2e;
  }
  
  .font-raleway-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
  
  .font-light {
    font-weight: 300;
  }
  
  .t-xs {
    font-size: 0.75rem;
  }
  
  .font-raleway-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }
  
  .font-semibold {
    font-weight: 600;
    color: rgb(128, 128, 210);
  }
  
  .t-igem-blue {
    color: rgb(128, 128, 210);
  }
  