.footerMobileContainer {
  display: flex;
  flex-direction: column;
  background-color:  #180F2E;
  box-shadow:  0px 5px 20px 0px #0b0b0bc9,
               0px 3px 20px #080808b0;
  }

.imageSponsorBMobile{
  width: 30%;
  height: auto;
}
.imageThermofisherMobile{
  width: 34%;
  height: auto;
}

.imageSponsorSMobile{
  width: 18%;
  height: auto;
}

.sponsorContainerMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sponsorBigMobile{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.sponsorSmallMobile{
  display: flex;
  justify-content: center;
}