  .scrollbar {
    z-index: 30;
    overflow-y: auto;
    position: fixed;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    height: 80vh;
    width: 19vW; /* Change this width if needed */
    padding: 0.5rem 2rem; /* Adjust padding as needed */
    right: 1rem;
    /*transition: opacity 0.3s ease-in-out;*/
    background: #E0E0E0;
    box-shadow: 0px 0px 7px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 1.25rem;
  }
  .inactive{
    z-index: -1;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    height: 80vh;
    width: 19vW; /* Change this width if needed */
    padding: 0.5rem 2rem; /* Adjust padding as needed */
    right: 1rem;
    transition: opacity 0.3s ease-in-out;
    background: #E0E0E0;
    box-shadow: 0px 0px 7px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 1.25rem;  
  }
  
  .scrollbar .font-jost-medium {
    font-family:  League Spartan;
    font-weight: 700;
    font-size: 3.5rem;
  }
  
  .scrollbar ul {
    list-style: none;
    padding-left: 1rem;
    font-family:  League Spartan;
    font-weight: 400;
    font-size: 1.8rem;
    
  }
  
  .scrollbar ul li {
    display: flex;
    align-items: middle;
    padding-bottom: 0.5rem;
  }
  .scrollbar ul li:hover {
    background-color: rgba(255, 255, 255, 0.689);
  }
  /*Neziurekit baisu(pakeiciu i inactive)*/
  .inactive{
    font-family:  League Spartan;
    font-weight: 700;
    font-size: 3.5rem;
  }
  .inactive ul {
    list-style: none;
    padding-left: 1rem;
    font-size: 1.8rem;
  }
  
  .inactive ul li {
    display: flex;
    align-items: middle;
    padding-bottom: 0.5rem;
  }
  .inactive ul li:hover {
    background-color: rgb(237, 234, 240);
  }
  .verticalDisplay{
    display: flex; 
    vertical-align: middle; 
  }
/* webkit scrollbaras*/
.scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100vh;
    border: 3px solid #035e7b;
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
  
  